.DARK {
  --keyboard__bg: #161c2c;
  --keyboard__border: #2b2e47;
  --icon__clock: #abadae;
  --ICON__COLOR: #ffffff;

  --KEYBOARD__BG: #161c2c;
  --KEYBOARD__BORDER: #2b2e47;
  --ICON__CLOCK: #abadae;
  --ICON__COLOR: #ffffff;
  --IMG__BG: #f1f1f0;
}

.LIGHT {
  --PRIMARY__BG__COLOR: #ffffff; // edit
  --SECOND__BG__COLOR: #f3f4f8;
  --THIRD__BG__COLOR: #f2f4f7;
  --FOURTH__BG__COLOR: #fff9f9;
  --fifth__bg__color: #f8f8f8;
  --INPUT__BG: #f5f6f9;
  --IMG__BG: #f1f1f0;

  --BOTTOM_TAB: #ffffff;
  --BOTTOM__MODAL__COLOR: #f5f6f9;

  --HEADER__BG__COLOR: #f3f4f8;
  --TABBAR__BG__COLOR: #ffffff; //edit
  --TABBAR__SHADOW__COLOR: #898c93; //edit

  --PRIMARY__CONTENT__COLOR: #25253e; // edit
  --SECOND__CONTENT__COLOR: #898c93;
  --THIRD__CONTENT__COLOR: #2ecc71;
  --FOURTH__CONTENT__COLOR: #5c5d82; //edit

  --PLACEHODLER__COLOR: #b4b2ba;
  --HEADER__CONTENT__COLOR: #737383; // edit

  --PRIMARY__BORDER__COLOR: #24253d34;
  --SECOND__BORDER__COLOR: #e1e1e1;
  --THIRD__BORDER__COLOR: #d7b21c;
  --FOURTH__BORDER__COLOR: #eeeeee;

  --DIVIDER__VIEW__COLOR: #eee;
  --DIVIDER__COLOR: #f2f2f2; // edit

  --PRIMARY__TABLE__BG: #e1e1e1;
  --SECOND__TABLE__BG: #eee;
  --THIRD__TABLE__BG: #fbfbfb;
  --ACTIVE__TABLE__BG: #bdcfee;

  --BID__COLOR: #bef9e7;
  --ASK__COLOR: #fdcdd4;

  --BUTTON__PRIMARY: #529ff3;
  --BUTTON__PRIMARY__DISABLED: #529ff380;
  --BUTTON__SECONDARY: #f8f8f8;
  --BUTTON__THIRD: #f5f6fa;
  --BUTTON__ACTIVE: #daf6ff;
  --BUTTON__BORDER__ACTIVE: #addafe;
  --BUTTON__TEXT__ACTIVE: #529ff3;
  --BUTTON__SELL__BUY: #e1e4ef;

  --ICON__PRIMARY: #24253d;
  --ICON__SECONDARY: #666666;
  --ICON__SECONDARY: #ccc;
  --ICON__SECONDARY: #728393;

  --BLUE__COLOR: #529ff3;
  --PRIMARY: #60b44a; //edit
  --ERROR__COLOR: #f52b1f;
  --WARN__COLOR: #f6a623;
  --WARN__COLOR: #2ecc71;
  --WARN__COLOR: #389bff;

  --WARN__COLOR: #ccc;
  --UNCHECK_TEXT_CHART: #aaa;
  --NOTIFY__NOT__READ: #ccc;

  --keyboard__bg: #ffffff;
  --keyboard__border: #a5a5a5;

  --icon__clock: #a3a4ac;
  --ICON__COLOR: #24253d;
}
